@{
    ViewData["Title"] = "Dojodachi";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="dojo">
            <span>Fullness </span> <span>Happiness </span> <span>Meals </span> <span>Energy </span>
            <div class="dachi">

                <p>Message</p>
            </div>
            <span><a href="" class="btn btn-primary">Feed</a></span><span><a href="" class="btn btn-primary">Play</a></span><span><a href="" class="btn btn-primary">Work</a></span><span><a href="" class="btn btn-primary">Sleep</a></span>
        </div>
    </div>    
</div>